<a href="https://colab.research.google.com/github/pawara101/MSC-2023/blob/main/Pattern%20recognition/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [54]:
data = pd.read_csv('/content/drive/MyDrive/MSC/Pattern Recognition/breast-cancer-wisconsin.csv')
data

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  699 non-null    object
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [56]:
data

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [57]:
for i in data.columns:
  print(f'{i} :',data[f'{i}'].isna().sum())

Sample code number : 0
Clump Thickness : 0
Uniformity of Cell Size : 0
Uniformity of Cell Shape : 0
Marginal Adhesion : 0
Single Epithelial Cell Size : 0
Bare Nuclei : 0
Bland Chromatin : 0
Normal Nucleoli : 0
Mitoses : 0
Class : 0

In [58]:
cols = list(data)

for i in range(1,len(cols)):
  print(cols[i],data[f'{cols[i]}'].unique())

Clump Thickness [ 5  3  6  4  8  1  2  7 10  9]
Uniformity of Cell Size [ 1  4  8 10  2  3  7  5  6  9]
Uniformity of Cell Shape [ 1  4  8 10  2  3  5  6  7  9]
Marginal Adhesion [ 1  5  3  8 10  4  6  2  9  7]
Single Epithelial Cell Size [ 2  7  3  1  6  4  5  8 10  9]
Bare Nuclei ['1' '10' '2' '4' '3' '9' '7' '?' '5' '8' '6']
Bland Chromatin [ 3  9  1  2  4  5  7  8  6 10]
Normal Nucleoli [ 1  2  7  4  5  3 10  6  9  8]
Mitoses [ 1  5  4  2  3  7 10  8  6]
Class [2 4]

In [59]:
## The only missing value is in Bare Nuclei 
miss_index = data[data['Bare Nuclei']=='?'].index.tolist()
print(miss_index)

[23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321, 411, 617]

In [60]:
data.iloc[miss_index]

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
23,1057013,8,4,5,1,2,?,7,3,1,4
40,1096800,6,6,6,9,6,?,7,8,1,2
139,1183246,1,1,1,1,1,?,2,1,1,2
145,1184840,1,1,3,1,2,?,2,1,1,2
158,1193683,1,1,2,1,3,?,1,1,1,2
164,1197510,5,1,1,1,2,?,3,1,1,2
235,1241232,3,1,4,1,2,?,3,1,1,2
249,169356,3,1,1,1,2,?,3,1,1,2
275,432809,3,1,3,1,2,?,2,1,1,2
292,563649,8,8,8,1,2,?,6,10,1,4
294,606140,1,1,1,1,2,?,2,1,1,2
297,61634,5,4,3,1,2,?,2,3,1,2
315,704168,4,6,5,6,7,?,4,9,1,2
321,733639,3,1,1,1,2,?,3,1,1,2
411,1238464,1,1,1,1,1,?,2,1,1,2
617,1057067,1,1,1,1,1,?,1,1,1,2

## Method 01


*   remove data samples with missing values, as done in the research paper
*   train test division is 65.5% and 34.5%

In [61]:
## GEt Chefoost algorithm
! pip install chefboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: chefboost in /usr/local/lib/python3.9/dist-packages (0.0.17)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from chefboost) (1.22.4)
Requirement already satisfied: tqdm>=4.30.0 in /usr/local/lib/python3.9/dist-packages (from chefboost) (4.65.0)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.9/dist-packages (from chefboost) (1.5.3)
Requirement already satisfied: psutil>=5.4.3 in /usr/local/lib/python3.9/dist-packages (from chefboost) (5.9.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.22.0->chefboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.22.0->chefboost) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.22.0->chefboost) (1.16.0)

In [62]:
## Remove missing values
Data_method01 = data.copy()
Data_method01 = Data_method01[Data_method01['Bare Nuclei'] !='?']

In [63]:
Data_method01.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           683 non-null    int64
 1   Clump Thickness              683 non-null    int64
 2   Uniformity of Cell Size      683 non-null    int64
 3   Uniformity of Cell Shape     683 non-null    int64
 4   Marginal Adhesion            683 non-null    int64
 5   Single Epithelial Cell Size  683 non-null    int64
 6   Bare Nuclei                  683 non-null    object
 7   Bland Chromatin              683 non-null    int64
 8   Normal Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(10), object(1)
memory usage: 64.0+ KB

In [64]:
Data_method01['Bare Nuclei']=Data_method01['Bare Nuclei'].astype('int64')

In [65]:
Data_method01.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           683 non-null    int64
 1   Clump Thickness              683 non-null    int64
 2   Uniformity of Cell Size      683 non-null    int64
 3   Uniformity of Cell Shape     683 non-null    int64
 4   Marginal Adhesion            683 non-null    int64
 5   Single Epithelial Cell Size  683 non-null    int64
 6   Bare Nuclei                  683 non-null    int64
 7   Bland Chromatin              683 non-null    int64
 8   Normal Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 64.0 KB

In [66]:
Data_method01

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [67]:
# Drop ID column
Data_method01 = Data_method01.drop('Sample code number',axis =1)

In [68]:
## Separate X and y
# y = Data_method01.pop('Class')
# X = Data_method01

In [69]:
## Make a Class as an Object Column
Data_method01['Class'] = Data_method01['Class'].astype(str)

In [70]:
## Train test Split  Test size = 0.345 train soze = 0.655
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(Data_method01, test_size=0.345, random_state=42)

In [71]:
from chefboost import Chefboost as chef
config = {'algorithm': 'C4.5'}
model = chef.fit(train_df, config = config, target_label = 'Class')

[INFO]:  1 CPU cores will be allocated in parallel running
C4.5  tree is going to be built...
-------------------------
finished in  8.347976207733154  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  99.10514541387025 % on  447  instances
Labels:  ['4' '2']
Confusion matrix:  [[152, 4], [0, 291]]
Precision:  97.4359 %, Recall:  100.0 %, F1:  98.7013 %

In [72]:
## Split X and y in test data set
y_test = test_df.pop('Class')
X_test = test_df

In [73]:
X_test_list = X_test.values.tolist()

In [74]:
y_pred_01=list()
for i in X_test_list:
  y_pred_01.append(chef.predict(model,i))

In [75]:
print(y_pred_01)

['4', '4', '2', '2', '2', '2', '2', '2', '4', '2', '2', '2', '2', '2', '2', '4', '2', '4', '2', '4', '4', '2', '4', '2', '2', '2', '4', '4', '2', '4', '2', '4', '4', '2', '2', '2', '4', '2', '4', '4', '2', '4', '4', '2', '2', '4', '2', '4', '2', '4', '2', '2', '2', '4', '2', '4', '2', '2', '2', '4', '2', '2', '2', '4', '2', '2', '2', '2', '2', '2', '4', '2', '2', '2', '4', '4', '2', '2', '2', '4', '4', '2', '2', '4', '2', '4', '2', '2', '4', '2', '2', '4', '2', '2', '2', '2', '4', '4', '2', '4', '2', '4', '4', '2', '4', '2', '2', '2', '4', '2', '4', '4', '2', '2', '2', '2', '4', '2', '2', '2', '4', '4', '2', '2', '2', '4', '4', '2', '4', '2', '2', '2', '4', '4', '4', '2', '2', '2', '4', '2', '4', '2', '2', '2', '4', '4', '2', '2', '2', '2', '2', '2', '4', '2', '2', '2', '2', '2', '4', '2', '4', '2', '2', '2', '2', '2', '2', '2', '4', '4', '4', '2', '2', '4', '2', '2', '4', '2', '2', '2', '2', '2', '2', '2', '2', '4', '4', '2', '2', '2', '4', '2', '4', '2', '4', '4', '2', '2', '2', '2', '2', '4', '4', '2', '2', '4', '2', '2', '4', '2', '4', '2', '2', '2', '4', '2', '2', '4', '2', '4', '2', '2', '2', '2', '2', '2', '2', '2', '2', '4', '4', '4', '2', '2', '4', '2']

In [76]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_01, labels=[2,4]))

              precision    recall  f1-score   support

           2       0.93      0.96      0.94       149
           4       0.93      0.87      0.90        87

   micro avg       0.93      0.93      0.93       236
   macro avg       0.93      0.92      0.92       236
weighted avg       0.93      0.93      0.93       236

/usr/local/lib/python3.9/dist-packages/numpy/lib/arraysetops.py:604: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
/usr/local/lib/python3.9/dist-packages/numpy/lib/arraysetops.py:604: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
/usr/local/lib/python3.9/dist-packages/numpy/lib/arraysetops.py:604: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
/usr/local/lib/python3.9/dist-packages/numpy/lib/arraysetops.py:604: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)

In [77]:
## Calculate accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred_01))

0.9279661016949152

## Method 02
- Instead of removing the samples with missing values, replace the missing values with 1
- train test division 80% and 20%

In [78]:
## Make a copy
Data_method02 = data.copy()

In [79]:
# The only missing value is in Bare Nuclei 
miss_index = Data_method02[Data_method02['Bare Nuclei']=='?'].index.tolist()
print(miss_index)

[23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321, 411, 617]

In [81]:
Data_method02['Bare Nuclei'][miss_index] = '1'

<ipython-input-81-82f8f5ebf38c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_method02['Bare Nuclei'][miss_index] = '1'

In [85]:
Data_method02['Bare Nuclei']=Data_method02['Bare Nuclei'].astype('int64')

In [88]:
## Make a Class as an Object Column
Data_method02['Class'] = Data_method02['Class'].astype(str)

In [90]:
# Drop ID column
Data_method02 = Data_method02.drop('Sample code number',axis =1)

In [91]:
Data_method02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Clump Thickness              699 non-null    int64
 1   Uniformity of Cell Size      699 non-null    int64
 2   Uniformity of Cell Shape     699 non-null    int64
 3   Marginal Adhesion            699 non-null    int64
 4   Single Epithelial Cell Size  699 non-null    int64
 5   Bare Nuclei                  699 non-null    int64
 6   Bland Chromatin              699 non-null    int64
 7   Normal Nucleoli              699 non-null    int64
 8   Mitoses                      699 non-null    int64
 9   Class                        699 non-null    object
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [92]:
## Train test Split  Test size = 0.2 train soze = 0.8
train_df_m2, test_df_m2 = train_test_split(Data_method02, test_size=0.2, random_state=42)

In [93]:
config = {'algorithm': 'C4.5'}
model_m2 = chef.fit(train_df_m2, config = config, target_label = 'Class')

[INFO]:  1 CPU cores will be allocated in parallel running
C4.5  tree is going to be built...
-------------------------
finished in  12.248911380767822  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  98.74776386404294 % on  559  instances
Labels:  ['2' '4']
Confusion matrix:  [[359, 3], [4, 193]]
Precision:  99.1713 %, Recall:  98.8981 %, F1:  99.0345 %

In [94]:
## Split X and y in test data set
y_test_m2 = test_df_m2.pop('Class')
X_test_m2 = test_df_m2
X_test_list_m2 = X_test_m2.values.tolist()

In [95]:
y_pred_02=list()
for i in X_test_list_m2:
  y_pred_02.append(chef.predict(model_m2,i))

In [97]:
print(y_pred_02)

['2', '2', '2', '4', '2', '2', '2', '4', '4', '2', '2', '4', '2', '2', '2', '4', '2', '4', '4', '2', '4', '2', '4', '2', '4', '2', '2', '4', '2', '4', '2', '2', '2', '4', '2', '2', '2', '4', '2', '4', '2', '2', '4', '2', '2', '2', '2', '2', '2', '2', '2', '2', '4', '2', '4', '2', '2', '4', '2', '2', '2', '2', '4', '2', '2', '2', '4', '4', '2', '2', '4', '2', '4', '2', '2', '2', '2', '4', '2', '2', '2', '2', '2', '2', '2', '4', '4', '2', '2', '2', '2', '2', '4', '2', '2', '4', '2', '2', '2', '2', '2', '2', '2', '4', '4', '2', '4', '2', '2', '4', '4', '2', '4', '4', '2', '4', '2', '2', '2', '2', '2', '4', '2', '2', '4', '4', '2', '2', '4', '4', '2', '2', '4', '2', '4', '2', '4', '2', '2', '2']

In [98]:
from sklearn.metrics import classification_report
print(classification_report(y_test_m2, y_pred_02, labels=[2,4]))

              precision    recall  f1-score   support

           2       0.98      0.98      0.98        95
           4       0.96      0.96      0.96        45

   micro avg       0.97      0.97      0.97       140
   macro avg       0.97      0.97      0.97       140
weighted avg       0.97      0.97      0.97       140

/usr/local/lib/python3.9/dist-packages/numpy/lib/arraysetops.py:604: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
/usr/local/lib/python3.9/dist-packages/numpy/lib/arraysetops.py:604: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
/usr/local/lib/python3.9/dist-packages/numpy/lib/arraysetops.py:604: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)
/usr/local/lib/python3.9/dist-packages/numpy/lib/arraysetops.py:604: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)

In [99]:
print(accuracy_score(y_test_m2,y_pred_02))

0.9714285714285714